@import "../../scss/index.scss";
.msg {
  width: auto;
  height: auto;
  border: 1px solid rgba(237, 235, 237, 0.858);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(240, 242, 245);
  margin-bottom: 10px;
  padding-left: 20px;
}

.thirdCol {
}
.secondColumn {
  padding-top: 7px;
}
