@import "../../scss/index.scss";

.boxMsgBot {
  width: 270px;
  min-height: 10px;
  max-height: 130px;
  border: 1px solid rgba(237, 235, 237, 0.858);
  border-radius: 10px;
  margin-right: auto;
  background-color: rgb(240, 242, 245);
  margin-bottom: 10px;
  padding: 3px;
}

.boxMsgEstudiante {
  width: 200px;
  height: auto;
  border: 1px solid rgba(237, 235, 237, 0.858);
  border-radius: 10px;
  margin-right: 175px;
  background-color: rgb(194, 222, 237);
  margin-bottom: 10px;
  padding: 3px;
}

.msgContent {
  margin-right: auto;
  width: 100%;
  justify-items: flex-start;
  text-align: justify;
}
.mensajeBot {
  margin-right: auto;
  width: 100%;
  justify-items: flex-start;
  text-align: justify;
}
.estText {
  margin-left: 50px;
  top: 13px;
}

.avatarEstudiante {
  bottom: 13px;
}
.avatarBot {
  bottom: -13px;
  margin-bottom: 20px;
}

.botText {
  margin-left: 40px;
  bottom: 50px;
}
.boxMsg {
  float: right;
}

.boxMsgBot {
  float: left;
}
