@import "./scss/index.scss";
.app{
    h1{
        color: $primary-color;
        
    }
    h2{
        color: $primary-color;
    }
}

.success{
    border:1 px solid $success;
    background-color: $background-success;
}

.error{
    border:1 px solid $error;
    background-color: $background-error;
}