@import "../../scss/index.scss";

.chat {
  height: 100vh;
  z-index: 1;
  &__title {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    font-size: xx-large;
    font-weight: 300;
  }
}
