@import "../../scss/index.scss";

.menu-top {
  display: flex;

  button {
    color: $font-light;
    font-size: 20px;

    &:hover {
      color: $secundary-color-accent;
    }

    &:focus,
    &:active {
      color: $font-light;
    }
  }

  &__left {
    position: fixed;

    &-logo {
      position: absolute;
      width: 65px;
      padding: 0 10px;
      left: -50px;
      top: 8px;
    }
  }

  &__right {
    position: absolute;
    right: 30px;
  }
  &__logoName {
    color: white;
  }

  &__col {
    padding-right: 7px;
  }
}
