$defaultFontSize: 16px;
$primary-color-hover: #0280b3;
$primary-color: #05a1ac;
$menu-color: #252527;

$font-light: #fff;
$font-dark-light: #252527;
$font-grey-light: #e8e8e8;
$font-grey: #808080;
$font-grey-dark: #000;
$font-dark: #000;

$border-light: #fff;
$border-grey-light: #e8e8e8;
$border-grey: #808080;
$border-grey-dark: #595959;
$border-dark-light: #252527;
$border-dark: #000;

$background-light: #fff;
$background-grey-light: #e8e8e8;
$background-grey: #808080;
$background-grey-dark: #595959;
$background-dark-light: #252527;
$background-dark: #000;
$background-error: #ff00001f;
$background-success: #84b84c1f;

$success: #4bb543;
$error: #f05454;

//Responsive downsize

$media-breakpoint-down-xs: 413.98px;
$media-breakpoint-down-sm: 573.98px;
$media-breakpoint-down-md: 767.98px;
$media-breakpoint-down-lg: 991.98px;
$media-breakpoint-down-xl: 1099.98px;

//Responsive upsize

$media-breakpoint-up-xs: 320x;
$media-breakpoint-up-sm: 576px;
$media-breakpoint-up-md: 768px;
$media-breakpoint-up-lg: 992px;
$media-breakpoint-up-xl: 1200px;

//mis escogidos

//$primary-color-accent:#07689f;
$primary-color-accent: #047ce4;
$secundary-color-accent: #ffc93c;
$third-color-accent: #40a8c4;
$fourth-color-accent: #a2d5f2;
